@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body{
    @apply leading-loose text-white font-primary bg-primary;
  }
  h1 {
    @apply text-[38px] md:text-[70px] leading-[1.1] font-bold mb-4;
    color: transparent;
  }
  h2 {
    @apply text-[26px] md:text-[48px] leading-[1.1] font-bold;
  }
  h3 {
    @apply text-[20px] md:text-[32px] leading-[1.1] font-bold;
  }
  p {
    @apply text-[16px] md:text-[18px] leading-[1.5];
  }
  .loader {
    width: 100px;
    height: 100px;
    background-color: #04D9FF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
